DATABASE_URL="file:./prisma/dev.db"
NEXTAUTH_SECRET="your-random-secret-here-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_GOOGLE_MAPS_KEY="your-google-maps-api-key"
RESEND_API_KEY="your-resend-api-key"
RESEND_FROM_EMAIL="orders@example.com"
